openapi: 3.0.1
info:
  title: Portfolio - API
  description: This is a sample server for Kotak Trade API - Portfolio
  version: "1.1"
servers:
- url: https://tradeapi.kotaksecurities.com/apim/portfolio/1.1
security:
- default: []
tags:
- name: As On Date
  description: Data Available As On Date.
- name: Statement of Holdings
  description: Get Statment of Holdings.
- name: Statement of Transactions
  description: Get Statment of Transactions.
- name: Realised Profit Loss
  description: Realised Profit Loss.
- name: Realised Profit Loss - Segmentwise
  description: Gain-Loss Statement.
- name: Realised Profit Loss - Scripwise
  description: Gain-Loss Statement.
- name: Capital Gain Report
  description: Capital Gain Report
- name: update price stock
  description: update price stock
- name: Turnover for portfolio
  description: Turnover for portfolio
- name: Monthly pnl for portfolio
  description: Monthly pnl for portfolio
- name: Statement of Transactions - Scripwise for SSymbol
  description: Statement of Transactions - Scripwise for SSymbol
paths:
  /portfolio/asOnDate:
    get:
      tags:
      - As On Date
      summary: Get As On Date
      description: Returns the date As on which data is available in system
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Complete Holding Details of a client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/holdings/all:
    get:
      tags:
      - Statement of Holdings
      summary: Get user holdings
      description: Returns the full DP holdings of the user including Sold Holdings
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Complete Holding Details of a client.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holdings'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/holdings/{date}:
    get:
      tags:
      - Statement of Holdings
      summary: Get user holdings for a date
      description: Returns the full DP holdings of the user on a specific date exlusive
        of Sold holdings
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: date
        in: path
        description: Date of specific holdings to fetch Format - YYYY-MM-DD
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Complete Holding Details of a client.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holdings'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/holdings/all/{date}:
    get:
      tags:
      - Statement of Holdings
      summary: Get user holdings for a date
      description: Returns the full DP holdings of the user on a specific date inluding
        of Sold holdings
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: date
        in: path
        description: Date of specific holdings to fetch Format - YYYY-MM-DD
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Complete Holding Details of a client.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holdings'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions:
    get:
      tags:
      - Statement of Transactions
      summary: Get Transaction Statement
      description: 'Returns the full DP Transaction Statement of Client for last one
        month of  Current Financial Year '
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions/generatepdf:
    get:
      tags:
      - Statement of Transactions
      summary: Get Transaction Statement pdf
      description: 'Returns the full DP Transaction Statement of Client for last one
        month of  Current Financial Year pdf path '
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: PDF url path Transaction Statement of a User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions/{fromDate}/{toDate}:
    get:
      tags:
      - Statement of Transactions
      summary: Get Transaction Statement
      description: 'Returns the full DP Transaction Statement of Client for last one
        month of  Current Financial Year '
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions/generatepdf/{fromDate}/{toDate}:
    get:
      tags:
      - Statement of Transactions
      summary: Get pdf for Transaction Statement
      description: 'Returns the full DP Transaction Statement pdf of Client for last
        one month of  Current Financial Year '
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/equity/{fy}/{instrumentToken}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: unique token of instrument
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/equity/{fy}/{fromDate}/{toDate}/{instrumentToken}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: unique token of instrument
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/derivative/{fy}/{instrumentToken}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: unique token of instrument
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/derivative/{fy}/{fromDate}/{toDate}/{instrumentToken}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: unique token of instrument
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/mutualfund/{fy}/{mfcode}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mfcode
        in: path
        description: This is commconScripCode for MF scrip in output of Holdings API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/mutualfund/{fy}/{fromDate}/{toDate}/{mfcode}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mfcode
        in: path
        description: This is commconScripCode for MF scrip in output of Holdings API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/currency/{fy}/{instrumentToken}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: unique token of instrument
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/currency/{fy}/{fromDate}/{toDate}/{instrumentToken}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: unique token of instrument
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/commodity/{fy}/{instrumentToken}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: unique token of instrument
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/transactions-scripwise/commodity/{fy}/{fromDate}/{toDate}/{instrumentToken}:
    get:
      tags:
      - Statement of Transactions - Scripwise
      summary: Get Scripwie Transaction Statement
      description: Returns the full Transaction Statement of Client for given details
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: unique token of instrument
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scripwise Transaction Statement of a User
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transactions-scripwise'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl:
    get:
      tags:
      - Realised Profit Loss
      summary: Get Realised Profit and Loss
      description: 'Returns Profit loss statement for last one month of Current FY '
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/generatepdf:
    get:
      tags:
      - Realised Profit Loss
      summary: Get PDF for Realised Profit and Loss
      description: 'Returns Profit loss statement pdf for last one month of Current
        FY '
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: PDF for Realised Profit and Loss
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/{fy}/{fromDate}/{toDate}:
    get:
      tags:
      - Realised Profit Loss
      summary: Get Realised Profit and Loss
      description: Returns the full DP holdings of the user
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/generatepdf/{fy}/{fromDate}/{toDate}:
    get:
      tags:
      - Realised Profit Loss
      summary: Get pdf for Realised Profit and Loss
      description: Returns pdf path for the full DP holdings of the user
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: pdf for Profit and Loss statement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/equity/{fy}/{fromDate}/{toDate}:
    get:
      tags:
      - Realised Profit Loss - Segmentwise
      summary: Get Gain Loss Statement for Cash
      description: Returns Gain Loss Statement for Cash
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl-equity'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/equity/{fy}/{fromDate}/{toDate}/{instrumentToken}:
    get:
      tags:
      - Realised Profit Loss - Scripwise
      summary: Get Gain Loss Statement for Cash
      description: Returns Gain Loss Statement for Cash
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: Unique token of Security
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl-equity'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/derivative/{fy}/{fromDate}/{toDate}:
    get:
      tags:
      - Realised Profit Loss - Segmentwise
      summary: Get Gain Loss Statement for Cash
      description: Returns Gain Loss Statement for Cash
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl-derivative'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/derivative/{fy}/{fromDate}/{toDate}/{instrumentToken}:
    get:
      tags:
      - Realised Profit Loss - Scripwise
      summary: Get Gain Loss Statement for Cash
      description: Returns Gain Loss Statement for Cash
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: Unique token of Security
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl-derivative'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/mutualfund/{fy}/{fromDate}/{toDate}:
    get:
      tags:
      - Realised Profit Loss - Segmentwise
      summary: Get Gain Loss Statement for Cash
      description: Returns Gain Loss Statement for Cash
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl-mutualfund'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/mutualfund/{fy}/{fromDate}/{toDate}/{instrumentToken}:
    get:
      tags:
      - Realised Profit Loss - Scripwise
      summary: Get Gain Loss Statement for Cash
      description: Returns Gain Loss Statement for Cash
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: Unique token of Security
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl-mutualfund'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/commodity/{fy}/{fromDate}/{toDate}:
    get:
      tags:
      - Realised Profit Loss - Segmentwise
      summary: Get Gain Loss Statement for Cash
      description: Returns Gain Loss Statement for Cash
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: header
        description: user Id for your application
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: clientAccount
        in: header
        description: Client account for which data requested
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Profit and Loss statement
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pnl-commodity'
                x-content-type: application/json
        "400":
          description: Invalid or missing input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "403":
          description: "Invalid session, please re-login to continue"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "429":
          description: Too many requests to the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "502":
          description: Not able to communicate with OMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "503":
          description: Trade API service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        "504":
          description: "Gateway timeout, trade API is unreachable"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      security:
      - api_key: []
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /portfolio/pnl/commodity/{fy}/{fromDate}/{toDate}/{instrumentToken}:
    get:
      tags:
      - Realised Profit Loss - Scripwise
      summary: Get Gain Loss Statement for Cash
      description: Returns Gain Loss Statement for Cash
      parameters:
      - name: consumerKey
        in: header
        description: Unique ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sessionToken
        in: header
        description: Session ID for your application
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fy
        in: path
        description: "Financial Year : Format - YYYY-YYYY"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromDate
        in: path
        description: "From Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toDate
        in: path
        description: "To Date : Format - YYYY-MM-DD"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: instrumentToken
        in: path
        description: Unique token of Security
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
[...]
