openapi: 3.0.1
info:
  title: Token-API
  version: "1.0"
servers:
- url: https://tradeapi.kotaksecurities.com/apim/oauth/1.0
security:
- default: []
paths:
  /token:
    post:
      parameters:
      - name: Authorization
        in: header
        description: Basic Base64(consumer-key:consumer-secret)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/token_body'
        required: true
      responses:
        "200":
          description: ok
      security:
      - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
  /revoke:
    post:
      parameters:
      - name: Authorization
        in: header
        description: Basic Base64(consumer-key:consumer-secret)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/revoke_body'
        required: true
      responses:
        "200":
          description: ok
      security:
      - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
components:
  schemas:
    revoke_body:
      type: object
      properties:
        token:
          type: string
          description: access token you want to revoke
        token_type_hint:
          type: string
          description: (optional)
          example: access_token
          enum:
          - access_token
          - refresh_token
    token_body:
      type: object
      properties:
        grant_type:
          type: string
          example: password
          enum:
          - password
          - refresh_token
          - client_credentials
        username:
          type: string
          description: only if grant_type=password
        password:
          type: string
          description: only if grant_type=password
        refresh_token:
          type: string
          description: only if grant_type=refresh_token
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://tradeapi.kotaksecurities.com/authorize
          scopes: {}
